$whiteDarkest = #EDEEF2
$whiteDarker = #ECEDF1
$whiteDark = #F0F0F5
$white = #FFFFFF

$redDark = #982525
$red = #EE2439
$redLight = #FF4646

$purple = #E619C1

$blue = #3063E2
$blueLight = #3C6CE4

$gray = #A29FAB
$grayLight = #979797
$grayLighter = #B9B9B9
$grayLightest = #85838B

$black = #000000
$blackLight = #161A23

$baseFontSize = 13px

$baseOffset = 20px
