@import "normalized.styl"
@import "blocks/**/*"

fonts('lato', 'latoregular', 400)
fonts('lato', 'latomedium', 500)
fonts('lato', 'latosemibold', 600)
fonts('lato', 'latobold', 700)

body
  text-medium()
  font-family 'lato', Helvetica, sans-serif
  overflow hidden
  font-weight 400

h1,h2,h3,h4,h5,h6
	margin 0
	padding 0

	&:before
	&:after
		margin 0
		padding 0
