// Style for root nuxt DOM element
body
  #__nuxt
  #__layout
    height 100%

.page
  position relative
  min-height 100vh
  background $whiteDark
  color $blackLight
  transition background .2s ease
  overflow hidden
  background-image url('~assets/images/bg.svg')
  background-position 49% -435px
  background-size 2019px
  padding-bottom 96px

  &__wrapper
    height 100%

  &__container
    container()
    height 100%
