html
body
  height 100%

// Style for root nuxt DOM element
body
  > #__nuxt
    height 100%

.page
  position relative
  height 100%
  background $white
  color $black
  transition background .2s ease
  overflow hidden

  &__wrapper
  &__container
  &__inner
    height 100%
