.icon
  display block
  width 1em
  height 1em
  vertical-align top
  color currentColor

  use
    width 100%
    height 1em
    fill currentColor

  &_adult
    width (12em / 14)

  &_behance
    width (21em / 14)

  &_child
    width (10em / 14)

  &_facebook
    width (7em / 15)

  &_line3
    width (37em / 30)

  &_pebble
    width (23em / 26)

